<h3>Новая заметка</h3>

<%= form_for :zamet, url: '/zamet' do |f| %>
	<p>
		<%= f.label :Название_заметки %><br />
		<%= f.text_field :z_title %>
	</p>
	<p>
		<%= f.label :Текст_заметки %><br />
		<%= f.text_area :z_body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>